<ul class="sticky">
  <li class="overlay">
    <a href="/university-admission">
      <img
        class="img-sticky"
        src="/assets/img/templates/floating/admission.svg"
        alt=""
      />
      <p class="text-sticky">Admission</p>
    </a>
  </li>
  <li class="overlay">
    <a href="/contact">
      <img
        class="img-sticky"
        src="/assets/img/templates/floating/schedule.svg"
        alt=""
      />
      <p class="text-sticky">Schedule a Visit</p>
    </a>
  </li>
  <li class="overlay">
    <a href="#">
      <img
        class="img-sticky"
        src="/assets/img/templates/floating/whatsapp.svg"
        alt=""
      />
      <p class="text-sticky">Contact Whatsapp</p>
    </a>
  </li>
</ul>
