<div class="base">
  <div class="box-footer">
    <ul class="part-1">
      <li class="logo-footer">
        <img
          src="/assets/img/templates/footer/logo-white-light-blue.png"
          alt=""
        />
      </li>
      <li class="address-footer">
        L'Avenue School <br />
        Jln. Raya Pasar Minggu, Kav. 16 <br />
        Pancoran, Jakarta 12780 <br />
        (021) 50 222 234 / +62821 62 800 800 <br />
      </li>
      <li class="social-footer">
        <a href="#"
          ><img src="/assets/img/templates/footer/instagram.svg" alt=""
        /></a>
        <a href="https://www.facebook.com/sampoerna.university/"
          ><img src="/assets/img/templates/footer/facebook.svg" alt=""
        /></a>
        <a href="https://www.youtube.com/@sampoernauniversity5660"
          ><img src="/assets/img/templates/footer/youtube.svg" alt=""
        /></a>
        <a href="https://x.com/i/flow/login?redirect_after_login=%2Fsampoernauniv"
          ><img src="/assets/img/templates/footer/x-twitter.svg" alt=""
        /></a>
        <a href="https://www.tiktok.com/@sampoerna.university?_t=8mnZ8QPX5D5&_r=1"
          ><img src="/assets/img/templates/footer/tiktok.svg" alt=""
        /></a>
      </li>
    </ul>
    <div class="part-2">
      <div class="menu">
        <span class="title-footer">MENU</span>
        <ul>
          <li><a href="/academics">Academic</a></li>
          <li><a href="/university-admission">Admission</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/student-goverment">Student Clubs</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="resource">
        <span class="title-footer">RESOURCE</span>
        <ul>
          <li><a href="#">A-Z Index</a></li>
          <li><a href="#">Academic Calendar</a></li>
          <li><a href="#">Frequently Asked Questions</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>

  <p class="text-credit">©2024 Sampoerna UNIVERSITY. All Rights Reserved</p>
</div>
