<nav class="header">
  <ul class="navbar-first">
    <li class="line"><a href="/international-student"> International Student </a></li>
    <li class="line"><a href="/faq"> FAQs </a></li>
    <li class="line"><a href="/career"> Career </a></li>
    <li class="line"><a href="/contact"> Contact Us </a></li>
    <li class="line language">
      <a href="#">
        <img
          src="assets/img/templates/header/circle-flags_us.svg"
          alt=""
          srcset=""
        />
        <span>English</span>
      </a>
    </li>
  </ul>
  <ul class="navbar-second">
    <div class="logo-title">
      <a href="/">
        <img
          src="assets/img/templates/header/logo-white.webp"
          alt=""
          class="logo-img"
        />
      </a>
      <img
        src="assets/img/templates/header/hamburger-menu.webp"
        alt=""
        class="hamburger-menu"
      />
    </div>

    <ul class="navbar-list">
      <li class="line">
        <a href="/sampoerna-difference">
          <span class="text-navbar"> The Sampoerna Difference</span>
        </a>
      </li>
      <li class="line">
        <ul class="tag">
          <li class="text-navbar">
            <a href="/academics">Academics</a>
          </li>
          <img src="assets/img/templates/header/chevron-down.svg" alt="" />
        </ul>
        <div class="list-header side">
          <ul class="list-academics">
            <h6 class="title" onclick="window.location.href = '/academics'" style="cursor:pointer;">Academics</h6>
            <li><a href="/core-curriculum">Core Curriculum</a></li>
            <li><a href="/pathway">Pathway to the World</a></li>
            <li>
              <a href="/cetl">Center for excellence in Teaching and Learning</a>
            </li>
            <li><a href="/qair">QAIR</a></li>
          </ul>
          <ul class="list-faculties">
            <h6 class="title" onclick="window.location.href = '/faculties'" style="cursor:pointer;">Faculties</h6>
            <li><a href="/faculty-of-bussiness">Faculy of Bussiness</a></li>
            <li><a href="/faculty-of-engineering-and-technology">Faculty of Engineering & Technology</a></li>
            <li><a href="/faculty-of-education">Faculty of Education</a></li>
            <li><a href="/faculty-of-arts-and-science">Faculty of Arts & Science</a></li>
          </ul>
        </div>
      </li>
      <li class="line">
        <ul class="tag">
          <li class="text-navbar"><a href="/admission">Admissions</a></li>
          <img src="assets/img/templates/header/chevron-down.svg" alt="" />
        </ul>
        <ul class="list-header admission">
          <li><a href="/university-admission">University Admission</a></li>
          <li><a href="/requirements">Requirements</a></li>
        </ul>
      </li>
      <li class="line">
        <ul class="tag">
          <li class="text-navbar">
            <a href="/campus-life">Campus Life</a>
          </li>
          <img src="assets/img/templates/header/chevron-down.svg" alt="" />
        </ul>
        <ul class="list-header campus">
          <li><a href="/student-affairs">Students Affairs</a></li>
          <li><a href="/student-goverment">Student Government and Clubs </a></li>
          <li><a href="/student-and-parent-advisory-center">Student & Parent Advisory Center</a></li>
          <li><a href="/safety-and-environment">Safety & Environment Plan</a></li>
          <li><a href="/it-department">IT Department</a></li>
          <li><a href="/academic-registry">Academic Registry</a></li>
          <li><a href="/library">Library</a></li>
          <li><a href="/facilities">Facilities</a></li>
          <li><a href="/student-rights-and-responsibility">Student Rights & Responsibility</a></li>
        </ul>
      </li>
      <li class="line">
        <a href="/news">
          <span class="text-navbar">News</span>
        </a>
      </li>
      <li class="line">
        <ul class="tag">
          <li class="text-navbar"><a href="#">About Us</a></li>
          <img src="assets/img/templates/header/chevron-down.svg" alt="" />
        </ul>
        <ul class="list-header about">
          <li><a href="/governance-and-administration">Governance & Administration</a></li>
          <li><a href="/accreditation">Accreditation </a></li>
        </ul>
      </li>
    </ul>
  </ul>
  <div class="navbar-mobile">
    <div class="header-mobile">
      <a href="index.html">
        <img
          src="assets/img/templates/header/logo-white.webp"
          alt=""
          class="logo"
        />
      </a>
      <img src="assets/img/templates/header/silang.webp" alt="" class="close" />
    </div>
    <ul class="dropdown">
      <li class="list">
        <a href="sampoerna-difference.html">
          <span class="text-navbar"> The Sampoerna Difference</span>
        </a>
      </li>
      <li class="list arrow">
        <ul class="tag">
          <li class="text-navbar">
            <a href="#">Academics</a>
          </li>
          <img src="assets/img/templates/header/chevron-down.svg" alt="" />
        </ul>
        <div class="bar side">
          <ul class="academics">
            <h6 class="title"><a href="#">Academics</a></h6>
            <li><a href="">Core Curriculum</a></li>
            <li><a href="">Pathway to the World</a></li>
            <li>
              <a href="">Center for excellence in Teaching and Learning</a>
            </li>
            <li><a href="">QAIR</a></li>
          </ul>
          <ul class="faculties">
            <h6 class="title"><a href="#">Faculties</a></h6>
            <li><a href="">Faculy of Bussiness</a></li>
            <li><a href="">Faculty of Engineering & Technology</a></li>
            <li><a href="">Faculty of Education</a></li>
            <li><a href="">Faculty of Arts & Science</a></li>
          </ul>
        </div>
      </li>
      <li class="list arrow">
        <ul class="tag">
          <li class="text-navbar"><a href="#">Admissions</a></li>
          <img src="assets/img/templates/header/chevron-down.svg" alt="" />
        </ul>
        <ul class="bar admission">
          <li><a href="">University Admission</a></li>
          <li><a href="">Requirements</a></li>
        </ul>
      </li>
      <li class="list arrow">
        <ul class="tag">
          <li class="text-navbar"><a href="#">Campus Life</a></li>
          <img src="assets/img/templates/header/chevron-down.svg" alt="" />
        </ul>
        <ul class="bar campus">
          <li><a href="">Students Affairs</a></li>
          <li><a href="">Student Government and Clubs </a></li>
          <li><a href="">Student & Parent Advisory Center</a></li>
          <li><a href="">Safety & Environment Plan</a></li>
          <li><a href="">IT Department</a></li>
          <li><a href="">Academic Registry</a></li>
          <li><a href="">Library</a></li>
          <li><a href="">Facilities</a></li>
          <li><a href="">Student Rights & Responsibility</a></li>
        </ul>
      </li>
      <li class="list">
        <a href="news.html">
          <span class="text-navbar">News</span>
        </a>
      </li>
      <li class="list arrow">
        <ul class="tag">
          <li class="text-navbar"><a href="#">About Us</a></li>
          <img src="assets/img/templates/header/chevron-down.svg" alt="" />
        </ul>
        <ul class="bar about">
          <li><a href="">Governance & Administration</a></li>
          <li><a href="">Accreditation </a></li>
        </ul>
      </li>
    </ul>
    <ul class="first">
      <li class="list"><a href="#"> International Student </a></li>
      <li class="list"><a href="faq.html"> FAQs </a></li>
      <li class="list"><a href="career.html"> Career </a></li>
      <li class="list"><a href="contact.html"> Contact Us </a></li>
      <li class="list language">
        <a href="#">
          <img
            src="assets/img/templates/header/circle-flags_us.svg"
            alt=""
            srcset=""
          />
          <span>English</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
